@import "./Variables.scss";


header.basic {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient($bg-theme-color, $darken-bg-color);
    transition: .3s;
    z-index: 999999;

    .content-pfp {
        width: 30vw;
        height: 100%;
        @include flex-center;
        justify-content: right;
        padding-right: 5vw;

        div {
            height: 60%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            background-color: $txt-color;

            img {
                margin-top: 4%;
                width: 92%;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .drop-down {
        padding-left: 5vw;
        position: relative;
        width: 30vw;
        display: flex;
        justify-content: left;

        img {
            width: 30px;
            &:hover ~ nav {
                display: block !important;
            }
        }

        nav {
            display: none;
            position: absolute;
            transform: translateY(-5px);

            a {
                background-color: #000E;
                border-radius: inherit;
                color: #fff;
                padding: 12px 16px;
                text-decoration: none;
                @include flex-center;
                gap: 5px;
                font-size: 20px;
                text-align: center;

                &:nth-child(1) {
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
                &:nth-child(8) {
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                &:hover {
                    background-color: #222E;
                }
            }
            &:hover {
                display: block !important;
            }
        }
    }


    @media (width <= 800px) {
        .drop-down, .content-pfp {
            padding-left: 2vw;
            width: 15vw;
        }
    }


    .content-icon {
        width: 30vw;
        @include flex-center;
        justify-content: left;
        padding-left: 5vw;
        flex-direction: row;
        gap: 5px;
    
        .icon {
            width: 30px;
        }
    }

    .title-page {
        font-size: 40px;
        font-weight: 600;
        transition: .3s;


        .green {
            color: $golf-color;
        }
    }

    &.scrolled {
        height: 60px;

        .content-icon {
            width: 30vw;
            .icon {
                width: 20px;
            }
        }

        .title-page {
            font-size: 35px;
        }
    }
}