/* Special variables */
:root{
    --super-dark-color: #040;
    --semi-transparent: #5f54;
    --almost-transparent: #5f52;
    --really-dark-color: #262;
    --hovering-green: #393;
}




/* Style */
body {
    background-image: linear-gradient(140deg, var(--main-color), var(--super-dark-color));
}

.particle {
    background-color: var(--almost-transparent);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
}

.particle:hover {
    background-color: var(--semi-transparent);
}

#cancel_particle {
    width: 400px;
    margin-left: calc(50% - 200px);
    height: 90px;
    background-color: var(--really-dark-color);
    position: relative;
    border-radius: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    transition: .4s;
}

#cancel_particle:hover {
    background-color: var(--hovering-green);
}

#code {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
}

#mainContent {
    padding-top: 30px;
    width: 400px;
    margin-left: calc(50% - 200px);
    height: 300px;
    background-color: var(--really-dark-color);
    position: relative;
    border-radius: 10px;
    color: #fff;
    font-size: 28px;
    font-weight: 900;
    transition: .4s;
    margin-bottom: 30px;
}

#six_digit {
    position: relative;
    background-color: #1118;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-top: 7px;
    border-radius: 25px;
    margin-top: 20px;
    width: 350px;
    height: 43px;
    resize: none;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#submit {
    font-size: 35px;
    border-radius: 10px;
    margin-left: 50px;
    width: 300px;
    height: 60px;
    padding-top: 10px;

    background-color: var(--main-color);
    transition: .5s;
}

#submit:hover {
    filter: brightness(120%);
    transform: scale(110%);
}