@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#footer {
    width: calc(100% - 300px);
    height: 200px;
    background-color: #111;
    color:#fff;
    padding-top: 40px;
    padding-left: 150px;
    padding-right: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    z-index: 999;
    transition: .5s;
}

#left {
    float: left;
}
#right {
    float: right;
}
#green {
    color: var(--golf-color);
}

.icon {
    width: 30px;
    margin-right: 8px;
}

.footer_button {
    height: 35px;
    width: 100px;
    background-color: #fff;
    color:#111;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 25px;
    text-align: center;
    margin-right: 8px;
    text-decoration: none;
}


/*
__________                                            __              
\______   \ ____   ____________   ____   ____   _____|__|__  __ ____  
 |       _// __ \ /  ___/\____ \ /  _ \ /    \ /  ___/  \  \/ // __ \ 
 |    |   \  ___/ \___ \ |  |_> >  <_> )   |  \\___ \|  |\   /\  ___/ 
 |____|_  /\___  >____  >|   __/ \____/|___|  /____  >__| \_/  \___  >
        \/     \/     \/ |__|               \/     \/              \/
*/
@media screen and (max-width: 800px) {

    #footer{
        width: calc(100% - 200px);
        padding-left: 100px;
        padding-right: 100px;
    }

}

@media screen and (max-width: 600px) {

    #footer {
        width: calc(100% - 100px);
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media screen and (max-width: 450px) {

    #footer {
        width: calc(100% - 50px);
        padding-left: 25px;
        padding-right: 25px;
    }

}