#index_header {
    height: 470px;
    background-image: linear-gradient(to right bottom, #383838, #000000);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 400px, 0 500px);
    z-index: 5;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    transition: .5s;
    padding-top: 30px;
}

#WeekGolfText {
    display: flex;
    justify-content: center;
    font-size: 80px;
    transition: .5s;
}

#TextHeader {
    text-align: center;
    font-size: 30px;
}

.button_index {
    margin-top: 10px;
    width: 20%;
    margin-left: 40%;
    background-color: #aaa;
  
    filter: brightness(120%);
    height: 80px; 
    transition: .5s;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    display: table;
    border-radius: 2px;
}

.button_index:hover {
    filter: brightness(130%);
    transform: scale(1.1);
}

.boxes {
    width: 100%;
    height: 300px;
    background-color: #222;
    margin-top: -100px;
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}

.text_left {
    text-align:left;
    margin-left: 20%;
}

.title_boxes {
    line-height: 100%;
    margin-bottom: 10px;
}

.description_boxes {
    font-size: 20px;
    font-weight: 400;
}

.image_right {
    width: 200px;
    float: right;
}

.image_left {
    width: 200px;
    float: left;
}

#first_color {
    padding-top: 100px;
    margin-bottom: 100px;
}

#languages_box {
    background-color: #444;
    height: 500px;
    width: 100%;
    display: none;
}

.languages_small_box {
    margin-left: calc(5% / 3);
    margin-top: 10px;
    width: 18%;
    height: 70px;
    background-color: #2b2b2b;
    overflow: hidden;
    border-radius: 5px;
    float: left;
}

.boxContent {
    position: relative;
    right: 100%;
    width: 100%;
    height: 70px;
    background: #0a8;
    transition: .25s;
    color: #fff;
}

.languages_small_box:hover .boxContent {
    right: 0px;
}

/* Display the logos of programming languages */
.image_white,
.image_colored {
    display: none;
    text-align: center;
    width: 50px;
    margin-top: -60px;
    z-index: 2;
    position: relative;
    margin-left: calc( 50% - 25px);
}

.image_colored {
    display: block;
}

.languages_small_box:hover .image_colored {
    display: none;
}
.languages_small_box:hover .image_white {
    display: block;
}

#wannaTry {
    text-align: center;
    font-size: 60px;
    color:var(--darker-color-3);
    font-weight: 900;
    transition: .5s;
}

#end_index:hover #wannaTry {
    color: var(--main-color);
}

#end_index {
    padding-top: 100px;
    background-color: #333;
    width: 100%;
    height: 400px;
}

#createAccount {
    background-color: var(--darker-color-4);
    width: 400px;
    height: 60px;
    color: #Fff;
    border-radius: 30px;
    margin-left: calc(50% - 200px);
    text-align: center;
    display: table;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
    transition: .5s;
}

#createAccount:hover {
    background-color: var(--main-color);
}



/*
__________                                            __              
\______   \ ____   ____________   ____   ____   _____|__|__  __ ____  
 |       _// __ \ /  ___/\____ \ /  _ \ /    \ /  ___/  \  \/ // __ \ 
 |    |   \  ___/ \___ \ |  |_> >  <_> )   |  \\___ \|  |\   /\  ___/ 
 |____|_  /\___  >____  >|   __/ \____/|___|  /____  >__| \_/  \___  >
        \/     \/     \/ |__|               \/     \/              \/
*/
/* SCROLL */
/* Sous header lors du Scroll*/
html:not([data-scroll='0']) #index_header {
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    left: 0;
    height: 90px;
    font-size: 3em;
    padding-top: 10px;
}

html:not([data-scroll='0']) #WeekGolfText {
    font-size:50px;
}

html:not([data-scroll='0']) .button_index, html:not([data-scroll='0']) #logo_in_header {
    display: none;
}

html:not([data-scroll='0']) #first_color {
    margin-top: 100px;
}





/* Responsive */
@media screen and (max-width: 1450px) {
    .button_index{
        width: 40%;
        margin-left: 30%;
    }
}

@media screen and (max-width: 1060px) {
    .description_boxes{
        font-size: 14px;
    }
    .title_boxes {
        font-size: 30px;
    }
}

@media screen and (max-width: 750px) {
    .button_index{
        width: 60%;
        margin-left: 20%;
    }
}

@media screen and (max-width: 550px) {
    #img_calendar {
        width: 180px;
    }

    #img_20, #img_loop, #img_arrow {
        width: 150px !important;
    }

    #wannaTry {
        font-size: 50px;
    }

    #createAccount {
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    .description_boxes {
        font-size: 12px;
    }
}