.send_comment {
    margin-top: 0px;
    height: 75px;
    width: 75px;   
    min-height: 70px;
    max-height: 70px;
    float: right
}   

.text_area_comment {
    max-height: 30px;
    min-height: 30px;
    border-radius: 25Px;
}

.section_title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: #181818;
    margin-top: -140px;
    padding-top: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
}

.infos_button {
    margin-top: 10px;
    width: 30px;
    height:30px;
    margin-left: calc(50% - 15px);
}

.infos_txt {
    width : 0px;
    margin-left: 50%;
    height: 0px;
    background-color: #222;
    overflow: hidden;
    transition: .4s;
    color: #fff;
    margin-bottom: 10px;
}

.content_proposed_language {
    height: auto;
    width: 93%;
    margin-left: 5%;
    display: block;
    position: relative; 
}

.proposed_language {
    width: 18.3%;
    margin-right:1.2%;
    height: 80px;
    background-color: #1C1C1C; 
    float: left;
    margin-bottom: 20px;
    border-radius: 5px;
}

.header_proposed, .header_proposed_phase1 {
    height: 27px;
    background-color: #353535;
    color: #fff;
    width: calc(100% - 80px);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 80px;
    padding-top: 3px;
}
.header_proposed_phase1 {
    height: 30px;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
}
.lang_img {
    margin-left: 10px;
    margin-top: 10px;
    width: 50px
}

.circle_lang, .circle_lang_phase1 {
    border-radius: 50%;
    height: 70px;
    background-color: #383838;
    width: 70px;
    margin-top: -25px;
    margin-left: 5px;
    float: left;
}

.circle_lang_phase1 {
    margin-top: -55px;
}

#error_msg {
    background-color: #d13;
    color: #fff;
    margin-left: 15%;
    width: 70%;
    font-size: 30px;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: .2s;
    border-radius: 5px;
}

#error_msg:hover {
    background-color: #f14;
}

#time,
#time2,
#time3,
#time4 {
    width: 420px;
    margin-left: calc(50% - 210px);
    margin-bottom: 15px;
    background-color: #1C1C1C;
}

#time3, #time4 {
    background-color: #1116;
}

.upvote {
    width: 30px;
    float: left;
    margin-left: 5px;
    margin-top: 15px;
}

.textUpvote {
    width: 180px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
}

#accountToVote {
    position: fixed;
    top: 229px;
    background-color: #f03;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 80%;
    margin-left: 10%;
    z-index: 100;
    border-radius: 5px;
    font-size: 20px;
    padding-top: 10Px;
    display: none;
}


#createAccountVote{
    width: 300px;
    font-size: 28px;
    background-color: #ff4a6e;
    color: #fff;
    margin-left: calc(50% - 150px);
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    text-align: center;
}

#createAccountVote:hover {
    filter: brightness(110%);
}


/*
__________                                            __              
\______   \ ____   ____________   ____   ____   _____|__|__  __ ____  
 |       _// __ \ /  ___/\____ \ /  _ \ /    \ /  ___/  \  \/ // __ \ 
 |    |   \  ___/ \___ \ |  |_> >  <_> )   |  \\___ \|  |\   /\  ___/ 
 |____|_  /\___  >____  >|   __/ \____/|___|  /____  >__| \_/  \___  >
        \/     \/     \/ |__|               \/     \/              \/
*/
@media screen and (max-width: 1750px) {
    .upvote{
        margin-top: 3px;
    }
    .textUpvote {
        margin-left: -30px;
        margin-top: 20px;
        width: auto;
    }
}

@media screen and (max-width: 1120px) {
    .textUpvote {
        margin-left: -30px;
        margin-top: 20px;
        width: auto;
        font-size: 16Px;
    }
}


@media screen and (max-width: 1000px) {
    .proposed_language {
        width: 100%;
    }
}

#phase3, #phase4 {
    height: 100%;
}

.finalUpvote {
    position: relative;
    display: block;
    width: 100px;
    margin-left: calc(50% - 50px);
    transition: .5s;
}

.final_language {
    width: 30%;
    margin-left: 35%;
}

.nb_vote, .lang_name {
    font-size: 50px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    color: #fff
}
.lang_name {
    font-size: 60px;
}

#win_lang {
    width: 200px;
    margin-left: calc(50% - 100px);
}

#win_text {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 80px;
}

#win_votes {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 60px;
}


#graph, #graph2 {
    border-radius: 10px;
    height: 100px;
    width: 50%;
    margin-left: calc(25% - 5px);
    background-color: #222;
    position: relative;
    display: block;
    filter:grayscale(10%);
    float: left;
    margin-top:  50px;
    border: 5px solid #222
}

#PartA,
#PartB,
#PartC,
#PartD {
    height: calc(100% - 28px);
    float: left;
    transition: .5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding-top: 28px;
}

#PartA, #PartC{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#lang_will_be_added_soon {
    width: 100%;
    height: 100px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
    position :relative;
    display: block;
}


@media screen and (max-width: 600px) {
    .section_title {
        font-size: 30px;
        width: 350px;
        margin-left: calc(50% - 175px);
    }

    #time, #time2, #time3, #time4 {
        width: 350px;
        margin-left: calc(50% - 175px);
    }
}