#question_text {
    font-size: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold   ;
}

.bar1, .bar2 {
    height: 5px;
    width: 80%;
    margin-left: 10%;
    background-color: #fff;
}

.bar2 {
    height: 3px;
    width: 60%;
    margin-left: 20%;
}

.button_redirect {
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
    text-align: center;
    display: table;
    transition: .3s;
    border-radius: 4px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

.button_redirect:hover {
    background-color: #555;
}

.descriptif {
    width: 90%;
    margin-left: 5%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

.question_list, .faq_list {
    font-size: 47px;
    text-align: center;
    color: #fff;
    font-weight: bold   ;
}

.faq_list {
    font-size: 32px;
    margin-top: 50px;
}

#flex_container {
    display: flex;
    width: 90%;
    margin-left: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    color: #fff;
}

.flex_content {
    width: 300px;
    height: 170px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    transition: .5s;
}

.flex_content:hover {
    filter: brightness(120%);
}

.header_flex {
    background-color: #111;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    padding-top: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.icon_flex {
    width: 50px;
}

#github_button, #discord_button {
    background-color: #000;
    color: #fff;
    width: 500px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    display: table;
    font-size: 20px;
    font-weight: 900;
    margin-top: -40px;
    margin-left: calc(50% - 250px);
    transition: .24s;
    cursor: pointer;
}

#discord_button {
    background-color: #5865F2;
}

#github_button:hover {
    background-color: #111;
}

#discord_button:hover {
    background-color: #7585FF;
}

#summary_faq {
    width: calc(80% - 40px);
    margin-left: 10%;
    background-color: #181818;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.summary_faq_div {
    display: block;
    background-color: #222;
    width: 300px;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    margin-bottom:  20px;
}



@media screen and (max-width: 1020px) {
    #flex_container {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 700px) {
    #flex_container {
        justify-content: center;
    }
}