@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* 
    VARIABLES
*/

:root {
    --lighter-color-2: #4E4;
    --lighter-color: #3D3;
    --main-color: #3C3;
    --darker-color: #2B2;
    --darker-color-2: #1A1;
    --darker-color-3: #181;
    --darker-color-4: #070;

    --golf-color: #080;
}


/*
    GREEN
    THEME
*/
[data-color-theme="green"] {
    --lighter-color-2: #4E4;
    --lighter-color: #3D3;
    --main-color: #3C3;
    --darker-color: #2B2;
    --darker-color-2: #1A1;
    --darker-color-3: #181;
    --darker-color-4: #070;

    --golf-color: #080;
}


/*
    YELLOW
    THEME
*/
[data-color-theme="yellow"] {
    --lighter-color-2: #EE4;
    --lighter-color: #DD3;
    --main-color: #CC3;
    --darker-color: #BB2;
    --darker-color-2: #AA1;
    --darker-color-3: #881;
    --darker-color-4: #770;

    --golf-color: #CB1;
}


/*
    ORANGE
    THEME
*/
[data-color-theme="orange"] {
    --lighter-color-2: #ee6f44;
    --lighter-color: #dc5d32;
    --main-color: #cc5933;
    --darker-color: #b94822;
    --darker-color-2: #ac3811;
    --darker-color-3: #882f11;
    --darker-color-4: #751d00;

    --golf-color: #A40;
}


/*
     RED
    THEME
*/
[data-color-theme="red"] {
    --lighter-color-2: #E44;
    --lighter-color: #D33;
    --main-color: #C33;
    --darker-color: #B22;
    --darker-color-2: #A11;
    --darker-color-3: #811;
    --darker-color-4: #700;

    --golf-color: #A11;
}

/*
    PURPLE
    THEME
*/
[data-color-theme="purple"] {
    --lighter-color-2: #94E;
    --lighter-color: #8732dc;
    --main-color: #8033cc;
    --darker-color: #6e22b9;
    --darker-color-2: #8511ac;
    --darker-color-3: #6a1188;
    --darker-color-4: #580075;

    --golf-color: #8033cc;
}


/*
    BLUE
    THEME
*/
[data-color-theme="blue"] {
    --lighter-color-2: #44E;
    --lighter-color: #33D;
    --main-color: #33C;
    --darker-color: #22B;
    --darker-color-2: #11A;
    --darker-color-3: #118;
    --darker-color-4: #007;

    --golf-color: #33C;

}


/*
    CYAN
    THEME
*/
[data-color-theme="cyan"] {
    --lighter-color-2: #4EE;
    --lighter-color: #3DD;
    --main-color: #3CC;
    --darker-color: #2BB;
    --darker-color-2: #1AA;
    --darker-color-3: #188;
    --darker-color-4: #077;

    --golf-color: #088;
}






/*
    STYLE
*/
body {
    background-color: #252525;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Align an element to the vertical / middle */
.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.link_text {
    cursor: pointer;
    text-decoration: underline;
    color: var(--main-color);
    transition: .1s;
}
.link_text:hover {
    filter: brightness(110%);
}

button {
    display: block;
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

title {
    display: block;
}


/* IDE */
#text_ide {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100px;
    position: relative;
}

#output{
    width: calc(100% - 14px - 10px);
    height: 350px;
    border-radius: 2px;
    background: #1C1C1C;
    border: 7px dashed #282828;
    color: #fff;
    padding: 10px;
    overflow: auto;
    font-family: 'Ubuntu Mono', monospace;
    resize: vertical;
    white-space: pre;
}

#output::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
}

#output::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

#output::-webkit-scrollbar-track {
    background: #0000;
    border-radius: 5px;
}

#output_txt {
    background-color: #1a1a1a;
    margin-left: calc(5% + 60px);
    height: 50px;
    width:150px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    overflow: visible;
    z-index: 500;
    position: relative;
    display: table;
    margin-top: 60px;
    margin-bottom: -5px;
}

#run {
    background-color: var(--darker-color);
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    text-align: center;
    transition: .8s;
    margin-top: -50px;
    float: right;
    margin-right: calc(5% + 60px);
}

#run span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#run span:after {
    content: '▶';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#run:hover span {
    padding-right: 25px;
}
  
#run:hover span:after {
    opacity: 1;
    right: 0;
}

#run:hover {
    filter: brightness(120%);
}

#cross_close {
    width:30px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

/* Image wallpaper */
#background_image {
    position: relative;
    width: 100%;
}

#central_image {
    text-align: center;
    border-radius: 50%;
    border: 15px solid #333;
    width: 150px;
    margin-top: -82.5px;
    z-index: 99;
    position: relative;
    object-fit: cover;
    height: 150px;
}

#easter {
    height: 50px;
    text-align: center;
    background-color: #000;
    margin-top: -70px;
    color: #fff;
    font-size: 30px;
}

#banner {
    position: relative;
    width: 100%;
    height: 230px;
    background-color: #000;
    background-image: url("img/banner.jpg");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

#pannel {
    background-color: #111;
    width: 100%;
    height: 270px;
    margin-top:  -82.5px;
    padding-top: 70px;
    color: #fff;
}

#username {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    width: 400px;
    margin-left: calc(50% - 200px);
    height: 75px;
    overflow: hidden;
    overflow-x: auto;
}

#username::-webkit-scrollbar {
    height: 8px;
}

/* Track */
#username::-webkit-scrollbar-track {
    background: #0000;
}

/* Handle */
#username::-webkit-scrollbar-thumb {
    background: #fff8;
}

/* Handle on hover */
#username::-webkit-scrollbar-thumb:hover {
    background: #8888;
}


@media screen and (max-width: 1200px) and (min-width: 1100px) {
    #username{
        width: 300px;
        margin-left: calc(50% - 150px);
    }
}

@media screen and  (min-width: 1350px) {
    #username{
        width: 450px;
        margin-left: calc(50% - 225px);
    }
}

#bio {
    background-color: #333;
    width: 80%;
    margin-left: calc(10% - 10px);
    border-radius: 5px;
    height: 80px;
    padding: 10px;
    overflow-y: auto;
}

/* width */
#bio::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}

/* Track */
#bio::-webkit-scrollbar-track {
    background: #0000;
    border-radius: 5px;
}

/* Handle */
#bio::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
#bio::-webkit-scrollbar-thumb:hover {
    background: #222;
}

#buttons_pannel {
    float:bottom;
    bottom:0px;
    position: relative;
    height: 75px;
    width: 100%;
    margin-top: 20px;
}

.td_pannel {
    width: 15%;
    height: 100%;
    padding: 0;
    background-color: #111;
    transition: .5s;
    cursor: pointer;
}

.td_pannel:hover {
    filter: brightness(150%)
}

.text_in_button {
    height: calc(100% - 9px);
    width: 100%;
    display: table;
    text-align: center;
    font-size: 30px;
    transition: .5s;
}

#friends,
#activity {
    display: none;
}

#info {
    display: block;
}

#name_problem {
    color: #fff;
    text-align: center;
    font-size: 50px;
    display: block;
}

#spacer_problem {
    background-color: #fff;
    text-align: center;
    height: 6px;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 10px;
}

#description_problem {
    background-color: #1a1a1a;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}

#description_problem a {
    color: var(--main-color);
    text-decoration: underline;
}

#language_selector {
    background-color: var(--darker-color);
    margin-left: calc(5% + 60px);
    height: 50px;
    width:150px;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    overflow: visible;
    z-index: 500;
    position: relative;
    display: table;
    transition: .3s;
    cursor: pointer;
}

#language_selector:hover {
    background-color: var(--main-color);
}

#selected_language {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

#language_ul {
    display: none;
    overflow: visible;
    z-index: 500;
    position: relative;
    border-radius: 5px;
    transition: .2s;
}

.a_language {
    transition: .2s;
    list-style-type: none;
    background-color: #222;
    height: 50px;
    width: 150px;
    border: none;
    color: #fff;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    display: table;
}

.a_language:hover {
    filter:brightness(120%);
    border-radius: 5px;
}

ul {
    margin: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

#leaderboard_ide {
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    background-color: #181818;
    height: auto;
    border-radius: 20px;
}

#leaderboard_ide_text {
    text-align: center;
    background-color: #383838;
    height: 100px;
    font-size: 50px;
    color: #fff;
    width: 100%;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table;
}

#leaderboard_languages {
    width: 20%;
    height: calc(100% - 100px);
    background-color: #222;
    float: left;
}

.language_div {
    color: #fff;
    display: table;
    height: 60px;
    font-size: 30px;
    text-align: center;
    background-color: #222;
    width: 100%;
    transition: .2s;
    cursor: pointer;
}

.language_div:hover {
    filter: brightness(130%);
}

code {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #333;
}

/* Solution */
#bulb_content {
    background-color: var(--main-color);
    transition: .4s;
    margin-left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

#bulb_content:hover {
    filter: brightness(135%);
}

#bulb_img {
    width: 60px;
    margin-top: 10px;
}

#solution_content {
    background-color: #1e1e1e;
    transition: .4s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 30px;
    width: 80%;
    height: auto;
    margin-left: 10%;
}

.solutionBox {
    width: 90%;
    margin-left: 5%;
    background-color: #111;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 50px;
    color: #fff;
    overflow: hidden;
    transition: .5s;
    padding-bottom: 10px;
    display: none;
}

.solution_div {
    width: 100%;
}

.header_solution {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}

.bar_solution {
    width: 80%;
    margin-left: 10%;
    height: 5px;
    background-color: #fff;
}

.solutionVerticalAlign {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.solution_ide {
    height: 300px;
    width: 90%;
    border-radius: 5px;
    margin-left: 5%;

}

.solution_author {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}


#solution_content .CodeMirror {
    height: 300px !important;
    border-radius: 2px;
    width: 100px ;
    margin-left: 5% !important;
    position: relative !important;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-size: 16px;
}

.comments {
    width: 90%;
    margin-left: 5%;
    min-height: 75px;
    background-color: #282828;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.nb_upvote {
    font-size: 14px;
    color: #fff;
    text-align: center;
    position: relative;
}

.upvote_img {
    margin-left: 17.5px;
    width: 35px;
    margin-top: 0px;
    height: 20.29px;
    position: relative;
    cursor: pointer;
}

.the_comment {
    position: relative;
    width: calc(100% - 70px);
    min-height:calc(100% - 40px);
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.comment_owner {
    width: 300px;
    font-size: 13px;
    color: #fff;
    float: left;
    margin-top: -20px;
    margin-left: calc(100% - 315px);
    text-align: right;
    font-weight: 800;
}

.text_area_comment {
    width: calc(100% - 40px) !important;
    min-height: 75px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 20px;
    max-width: calc(100% - 40px) !important;
    min-width: calc(100% - 40px) !important;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.send_comment {
    width: 100%;
    height: calc(100% - 25px);
    margin-top: -12.5px;
    background-color: var(--main-color);
    border-radius: 5px;
    transition: .4s;
    display: table;
    cursor: pointer;
}

.send_comment:hover{
    filter: brightness(120%);
}

.paper_plane {
    width: 40px;
    height: 40px;
    margin-left: calc(50% - 20px);
}

.language_box_selector {
    width: 300px;
    height: 65px;
    margin-left: calc(50% - 150px);
    background-color: #111;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 5px;
    display: none;
}

.language_pannel_selector {
    opacity: 98%;
    background-color: #181818;
    position: fixed;
    width: 80%;
    z-index: 99999;
    left: 0;
    top: 0;
    margin-left: 10%;
    margin-top: calc(10% - 30px);
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    padding-top: 30px;
    display: none;
}

#time,
#time2,
#time3,
#time4 {
    background-color: #0c0;
    width: 350px;
    height: 50px;
    margin-left: calc(50% - 175px);
    color: #fff;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    display: table;
}


.mainIde, .lotwIde, .historyIde {
    height: 300px;
    width: 100%;
    resize: vertical;
    min-height: 300px;
}

.lotwIde {
    width: 90%;
    transform: translate(5%);
}

#leaderboard_users {
    width: 80%;
    height: calc(100% - 120px);
    margin-left: 20%;
    display: block;
    position: relative;
    background-color: #1C1C1C;
    padding-top: 20px;
    overflow-y: scroll;
}

/* Width */
#leaderboard_users::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#leaderboard_users::-webkit-scrollbar-track {
    background: #0000;
}

/* Handle */
#leaderboard_users::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
#leaderboard_users::-webkit-scrollbar-thumb:hover {
    background: #222;
}
/* width */
#content_list_perf::-webkit-scrollbar {
    width: 10px;
}
/* Track */
#content_list_perf::-webkit-scrollbar-track {
    background: #0000;
}
/* Handle */
#content_list_perf::-webkit-scrollbar-thumb {
    background: #555;
}
/* Handle on hover */
#content_list_perf::-webkit-scrollbar-thumb:hover {
    background: #222;
}

#leaderboard_img, #leaderboard_title {
    color:#fff;
    display: block;
    width: 80px;
    height: 80px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: calc(50% - 40px );
}

#leaderboard_title {
    margin: 0;
    margin-left: calc(50% - 100px );
    width: 200px;
    text-align: center;
    height: 50px;
}

.user_div {
    background-color: #151515;
    width: 90%;
    margin-left: 5%;
    height: 85px;
    border-radius: 15px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
    
}

.lb_rank {
    display: table;
    background-color: #222;
    border-radius: 10px;
    width: 70px;
    height: 50px;
    color: #fff;
    position: relative;
    font-size: 35px;
    margin-left: 10px;
    top: 7.5px;
    text-align: center;
    float: left;
    padding-right: 3px;
    padding-left: 3px;
}

.lb_pp {
    border: 3px solid #fff;
    border-radius: 10px;
    margin-top: 9.5px;
    height: 60px;
    float: left;
    margin-left: 10px;
    width: 60px;
    object-fit: cover;
}

.lb_username {
    height: 50px;
    font-size: 40px;
    width: 400px;
    margin-top: 14.5px;
    color: #fff;
    float: left;
    margin-left: 5px;
}

.lb_bytes {
    display: table;
    background-color: #222;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    color: #fff;
    position: relative;
    font-size: 35px;
    margin-right: 10px;
    top: 7.5px;
    text-align: center;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

#nb_byte {
    width: calc(90% - 110px);
    height: 50px;
    background-color: #181818;
    text-align: center;
    color: #fff;
    margin-top: 5px;
    border-radius: 5px;
    font-weight: 800;
    font-size: 30px;
    float: left;
}


#delete_code, #reset_code {
    margin-top: 5px;
    float:left;
    margin-left: 5%;
    width: 50px;
    height: 50px;
    background-color: var(--darker-color);
    margin-right: 5px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
}

#reset_code {
    margin-left: 5px;
    margin-bottom: 10px;
}

#delete_code:hover, #reset_code:hover {
    background-color: var(--lighter-color-2);
    
}

.leaderboard_button {
    width: 47%;
    height: 100px;
    background-color: #151515;
    transition: .5s;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    display: table;
    cursor: pointer;
}

.leaderboard_button:hover {
    background-color: #333;
}

#select_bar_infos {
    width: 90%;
    margin-left: 5%;
    height: 100px;
    background-color: #111;
    border-radius: 25px;
}

.element {
    position: relative;
    width: calc(100% / 3);
    height: 100px;
    float: left;
    background-color: #080808;
    transition: .5s;
    color: #fff;
    display: table;
    z-index: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.element:hover {
    background-color: #555;
}

#selection_div {
    background-color: var(--darker-color);
    width: calc(100% / 3);
    position: absolute;
    height: 100px;
    transition: .5s;
    left: 35%;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

.info_title {
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}

.info_content {
    margin-top: 20px;
}

.info_page {
    width: calc(95% - 40px);
    margin-left: 2.5%;
    background-color: #111;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    box-shadow: 5px 5px 15px #000c;
    font-size: 18px;
    margin-bottom: 50px;

}

h3 {
    font-weight: 800;
    font-size: 30px;
    margin-bottom: -10px;
}




@media screen and (max-width: 1100px) {
    .leaderboard_button{
        width: 49.5%;
    }
}


@media screen and (max-width: 900px) {
    .leaderboard_button{
        width: 100%;
        margin-bottom: 10px;
    }
}

.leaderboard_ide {
    margin-top: 50px;
    margin-left: 5%;
    width: 90%;
    background-color: #181818;
    height: auto;
    border-radius: 20px;
}

.leaderboard_ide_text {
    text-align: center;
    background-color: #383838;
    height: 100px;
    font-size: 50px;
    color:#fff;
    width: 100%;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: table;
}

.leaderboard_languages{
    width: 20%;
    height: 100%;
    background-color: #222;
    float: left;
}

.leaderboard_users {
    width: 80%;
    height: calc(100% - 120px);

    margin-left: 20%;
    display: block;
    position: relative;
    background-color: #1C1C1C;
    padding-top: 20px;
    padding-bottom: 50px;
    min-height: 330px;
}

.category {
    color: #fff;
    display: table;
    height: 100px;
    font-size: 30px;
    text-align: center;
    background-color: #222;
    width: 100%;
    transition: .2s;
}

.category:hover {
    filter: brightness(130%);
}

#last_activity {
    background-color: #111;
    color: #fff;
    width: 90%;
    margin-left: 5%;
    height: auto;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

#activity_title {
    margin-bottom: 30px;
}


#filter_activity  {
    width: calc(90% - 20px);
    margin-left: 5%;
    background-color: #111;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-bottom: 50px;
    font-weight: 900;
    height: 220px
}

#content_filter_activity {
    width: 90%;
    margin-left: 5%;
    height: auto;
}

.div_filter_activity {
    width: calc(30% - 14px);
    margin-right: 5%;
    height: 100px;
    max-height: 100px;
    background-image: linear-gradient(var(--darker-color), var(--darker-color-2));
    border: 7px solid var(--darker-color-3);
    border-radius: 10px;
    transition: .4s;
    float: left;
    font-size: 37px;
    display: table;
    overflow: hidden;
    line-height: 38px;
}

.div_filter_activity:hover {
    filter: brightness(120%);
}

#settings_button {
    transition: .1s;
    width: 90%;
    height: 60px;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: -40px;
    background-color: #181818;
    overflow: hidden;
}

#settings_header {
    background-color: var(--darker-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: .2s;
    border-radius: 5px;
    float: left;
    cursor: pointer;
}

#settings_header:hover {
    background-color: var(--main-color);
}

.settings_section {
    width: calc((100% - 60px) / 4);
    height: 130px;
    text-align: center;
    color: #fff;
    float:left;
    padding: 7px;
    font-size: 13px;
}

.settings_title {
    font-size: 30px;
    font-weight: 900;
    line-height: 26px;
}

.keyboard_button {
    background-color: #444;
    color: #fff;
    font-weight: 900;
    width: 80%;
    margin-left: 10%;
    font-size: 22px;
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    line-height: normal;
}


/* SLIDE BOX */
.slidebox_container {
    position: relative;
    display: block;
    width: 120px;
    height: 50px;
}

.slidebox_container input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .25s;
    transition: .25s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 38px;
    width: 38px;
    left: 6px;
    bottom: 6px;
    background-color: white;
    -webkit-transition: .25s;
    transition: .25s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--main-color);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(68px);
    -ms-transform: translateX(68px);
    transform: translateX(68px);
}



#new_pannel {
    background-color: #181818;
    position: fixed;
    width: 80%;
    z-index: 99999;
    left: 0;
    top: 0;
    margin-left: 10%;
    margin-top: calc(10% - 30px);
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    padding-top: 30px;
    display: none;
}

.button_next_previous {
    float: left;
    margin-left: 5%;
    background-color: var(--darker-color);
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 100px;
    font-weight: 600;
    font-size: 20px;
    border: none;
    text-align: center;
    transition: .8s;
    margin-right: -100px;
}

.button_next_previous:hover {
    background-color: var(--lighter-color);
    cursor: pointer;
}

#choose_lang_solution,
#choose_solution,
#solution_content_inside,
#comment_section {
    width: 100px;
    height: 500px;
    float: left;
}

#choose_solution {
    width: 125px;
    overflow: auto;
}

#choose_solution::-webkit-scrollbar {
    width: 8px;
}

#choose_solution::-webkit-scrollbar-thumb {
    background: #555;
}

#choose_solution::-webkit-scrollbar-track {
    background: #0000;
}

#comment_section::-webkit-scrollbar {
    width: 8px;
}

#comment_section::-webkit-scrollbar-thumb {
    background: #555;
}

#comment_section::-webkit-scrollbar-track {
    background: #0000;
}

#solution_content_inside {
    width: calc(100% - 485px);
}

#comment_section {
    width: 250px;
}

#selector_lang {
    margin: 5px;
    width: calc(100% - 10px);
    height: 100%;
    border-radius: 5px;
    background-color: var(--darker-color-2);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
}

#selector_lang:hover {
    background-color: var(--main-color);
}

.button_show_solution {
    width: 90%;
    margin-left: 5%;
    height: 50px;
    align-items: center;
    text-align: center;
    background-color: var(--darker-color-3);
    color: #fff;
    font-weight: 900;
    font-size: 20px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.button_show_solution:hover {
    background-color: var(--darker-color-2);
}

#comment_title {
    width: 100%;
    text-align: center;
    align-items: center;
    height: 50px;
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}

#lang_selected_solution {
    width: 30px;
    height: 30px;
    top: 5px;
    position: relative;
}

.result_problem {
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    color:#fff;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    display: flex;
}

.star {
    max-height: 100px;
    width: calc(10% - 1px);
    margin-right: -3px;
    transition: .3s;
    cursor: pointer;
}

#star_container {
    width: 100%;
    height: 100%;
    max-height: 100px;
}

#del_vote, #send_vote {
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    color:#fff;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    justify-content: center;
    display: flex;
    font-weight: 900;
    transition: .25s;
    cursor: pointer;
}

#del_vote:hover, #send_vote:hover {
    filter: brightness(110%);
}


#content_lotw {
    width: 75px;
    height: 75px;
    border-radius: 35px;
    position: sticky;
    top: 90px;
    z-index: 9999;
    left: calc(7.5% - 37.5px);
    margin-bottom: -75px;
    /* background-color: #181818; */
    background-color: #0000;
    overflow: hidden;
    z-index: 998;
}



#header_lotw {
    background: var(--darker-color);
    width: 75px;
    height: 75px;
    border-radius: 100px;
    transition: .5s;
    cursor: pointer;
}

#header_lotw:hover {
    background-color: var(--lighter-color-2);
}

#main_lotw {
    width: 100%;
    height: calc(100% - 75px);
    background-color: #181818;
    color: #fff;
    padding-bottom: 75px;
    overflow: auto;
}

#main_lotw::-webkit-scrollbar {
    width: 0px;
}

#main_lotw::-webkit-scrollbar-thumb {
    background: #0000;
}

#main_lotw::-webkit-scrollbar-track {
    background: #0000;
}

#main_lotw title {
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
}

#main_lotw h1 {
    padding-left: 50px;
    padding-left: 50px;
}

#main_lotw ul {
    padding-left: 100px;
}

#main_lotw #lang {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 45px;
}

#button_lotw {
    background-color: var(--main-color);
    margin: auto;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
    margin-bottom: 50px;
    margin-top: 30px;
}

#button_lotw:hover{
    background-color: var(--lighter-color-2);
}

#button_picker_lotw{
    background-color: var(--darker-color);
    transition: .3s;
    height: 101%;
    width: 104%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

#button_picker_lotw:hover{
    background-color: var(--lighter-color);
}

#picker_lotw {
    float: left;
    left: 0;
    height: 80%;
    width: 80%;
    position: fixed;
    background-color: #1a1a1a;
    margin-left: -82%;
    border-radius: 10px;
    transition: .5s;
    z-index: 999999;
    margin-top: 10px;
}

#picker_lotw title{
    margin: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 40px;
    padding-top: 20px;
    font-weight: bold;
}

#scroll_content {
    box-shadow: inset 0px 0px 100px 50px #000;
    width: 100%;
    height: calc(100% - 100px);
    position: absolute;
    width: 90%;
    top: 100px;
    scroll-snap-type: y proximity;
    overflow: auto;
    scroll-padding-top: 35px;
    margin-left: -2px;
}

#scroll_content::-webkit-scrollbar {
    display: none;
}

.lang_picker {
    width: 80%;
    margin-left: 10%;
    height: 120px;
    background-color: #252525;
    border-radius: 5px;
    margin-bottom: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: normal;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.lang_picker:hover {
    filter: brightness(130%);
}

#middd {
    height: 2px;
    background-color: #F00;
    width: 100px;
    margin-top: calc(870px / 2);
}

#shadow {
    box-shadow: inset 0px 0px 100px 50px #000;
    position: fixed;
    width: 72%; /*0.9 * 0.8 == 0.72*/
    z-index: 2;
    pointer-events: none;
    height: 72%;
}

#content_lotw a{
    color: var(--main-color);
}

#history {
    padding-inline: 50px;
}

#caracteristics {
    padding-right: 50px;
}


#main_lotw h1 {
    margin-bottom: 5px;
}

#main_lotw p {
    margin-top: 5px;
    line-height: 120%;
}

#filter_golf_username,
#filter_golf_size {
    width: calc(100% - 10px) !important;
    max-width: calc(100% - 10px) !important;
    min-width: calc(100% - 10px) !important;
    min-height: 30px;
    max-height: 30px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    position: relative;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    overflow: hidden;
}


#history_golf {
    margin-top: -50px;
    float: right;
    width: 50px;
    height: 50px;
    background-color: var(--darker-color);
    margin-right: 5px;
    border-radius: 5px;
    transition: .5s;
    cursor: pointer;
    position: relative;
    margin-right: calc(5% + 170px);
}

#history_golf:hover {
    background-color: var(--lighter-color);
}

#history_golf_content {
    margin-left: -100%;
    position: fixed;
    width: 80%;
    z-index: 999;
    height: 80%;
    background-color: #181818;
    top: 10%;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

#history_golf_button {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: var(--darker-color);
    transition: .3s;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

#history_golf_button:hover {
    background-color: var(--lighter-color-2);
}

#selector_lang_history {
    margin-left: 10%;
    width: 80%;
    height: 75px;
    border-radius: 5px;
    background-color: var(--darker-color-2);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s;
    cursor: pointer;
    margin-top: 20px;
}

#selector_lang_history:hover {
    background-color:  var(--lighter-color);
}

#history_golf_main {
    height: calc(100% - 95px - 100px - 50px);
    width: 100%;
    padding-top: 50px;
}

#history_solution {
    width: 125px;
    overflow: auto;
    height: 100%;
    float: left;
}

#history_solution::-webkit-scrollbar {
    width: 8px;
}

#history_solution::-webkit-scrollbar-thumb {
    background: #555;
}

#history_solution::-webkit-scrollbar-track {
    background: #0000;
}

#historyIde {
    float: right;
    width: calc(100% - 175px);
    margin-right: 25px;
    min-height: calc(100% - 25px);
    max-height: calc(100% - 25px);
}

#history_image_lang {
    width: 50px;
}














/*
__________                                            __              
\______   \ ____   ____________   ____   ____   _____|__|__  __ ____  
 |       _// __ \ /  ___/\____ \ /  _ \ /    \ /  ___/  \  \/ // __ \ 
 |    |   \  ___/ \___ \ |  |_> >  <_> )   |  \\___ \|  |\   /\  ___/ 
 |____|_  /\___  >____  >|   __/ \____/|___|  /____  >__| \_/  \___  >
        \/     \/     \/ |__|               \/     \/              \/
*/

@media screen and (max-width: 1135px) {

    .div_filter_activity {
        line-height: 33px;
    }

    .settings_title {
        font-size: 24px;
        line-height: 20px;
    }

    .settings_section {
        font-size: 14px;
        line-height: 16px;
    }

}

@media screen and (max-width: 1050px) {

    .lb_username {
        width: 100px
    }

    #name_problem {
        margin-top: 50px;
    }
    .button_next_previous {
        margin-top: -50px;
    }

    #picker_lotw {
        transform: translate(0px, -50px);
    }

    #shadow {
        width: 90%;
        height: 90%;
    }

}

@media screen and (max-width: 1000px) {

    #choose_solution {
        width: 75px;
        height: 350px;
    }
    
    #choose_lang_solution {
        width: 75px;
        height: 350px;
    }

    .button_show_solution {
        font-size: 14px;
        width: 98%;
        margin-left: 1%;
    }

    #solution_title {
        font-size: 20px
    }

    #solution_content_inside {
        width: calc(100% - 158px);
        height: 350px;
    }
    #solution_content_inside #solution_ide_0 {
        height: 290px !important;
        font-size: 12px !important;
    }

    #comment_section {
        width: auto;
        height: 300px;
        margin-top: 20px;
    }

    #comment_section .bar_solution {
        display: none;
    }

    #comment_title {
        display: none;
    }

    #comment_section .text_area_comment {
        max-width: 9999px !important;
        min-width: 0px !important;
        height: calc(100% - 40px) !important;
        max-height: 9999px;
        width: 200px !important;
        float: left;
        margin-right: 10px;
        margin-top: 0px !important;
    }

    #comment_section .send_comment {
        float: left;
        height: 100% !important;
        width: 60px;
    }

    #comment_section  .comments{
        width: 300px;
        height: 100% !important;
        float: left;
        margin-left: 10px !important;
    }

    #history_solution {
        width: 80px;
    }

    #historyIde {
        width: calc(100% - 105px);
    }
}



@media screen and (max-width: 777px) {

    .language_pannel_selector span {
        margin-left: calc(50% - 100px) !important;
        width: 232px !important;
        font-size: 20px;
    }

    .language_pannel_selector #cross_close {
        width: 30px;
        float: right;
        margin-right: 30px;
        cursor: pointer;
        transform: translate(20px, -20px);
    }

    .language_pannel_selector {
        width: 95%;
        margin-left: 2.5%;
    }

    #content_filter_activity {
        width: 100%;
        margin: 0px;
        height: 400px;
    }

    .div_filter_activity {
        width:calc(32% - 14px);
        margin-right: 2%;
        font-size: 23px;
    }

    .settings_title {
        font-size: 10px;
        line-height: 10px;
    }

    .settings_section {
        font-size: 9px;
        line-height: 10px;
    }

    #nb_byte {
        font-size: 12px;
        padding-top: 15px;
        height: 35px;
    }

    .keyboard_button {
        width: 100%;
        margin-left: 0%;
        font-size: 12px;
        margin-bottom: 3px;
    }

}

@media screen and (max-width: 1060px) {
    .language_div span {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    
    .slider:before {
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 5px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    .slidebox_container {
        width: 50px;
        height: 30px;
    }

    #main_lotw title {
        font-size: 20px;
    }

}



@media screen and (max-width: 600px) {
    #description_problem {
        width: 95%;
        margin-left: 2.5%;
    }
    
    #language_selector {
        margin-left: 5%;
    }

    #run {
        margin-right: 5%;
    }

    #history_golf {
        margin-right: calc(5% + 110px);
    }
    
    #output_txt {
        margin-left: calc(5% + 7px);
    }

    .language_div span {
        display: none;
    }

    #leaderboard_ide_text {
        font-size: 40px;
    }

    .user_div {
        margin-left: 2%;
        width: 96%
    }

    .lb_rank {
        font-size: 20px;
        width: 50px;
        margin-left: 5px
    }

    .lb_pp {
        display: none;
    }

    .lb_username {
        margin-top: 30px;
        font-size: 20px;
        width: 100px
    }
    .lb_bytes {
        margin-right: 5px;
    }

    .header_activity .the_title {
        font-size: 20px;
    }

    #solution_content {
        width: 95% !important;
        margin-left: 2.5% !important;
    }

    .solutionVerticalAlign {
        font-size: 30px;
    }

    #last_activity {
        width: 96%;
        margin-left: 2%;
    }

    .element {
        font-size: 18px;
    }

    #selection_div{
        font-size: 18px;
    }

    .info_page {
        font-size: 12px;
    }

    h3 {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 5px;
        line-height: 18px;
    }


    #history {
        padding-inline: 15px;
    }

}


@media screen and (max-width: 550px) {
    #img_calendar {
        width: 180px;
    }

    .description_boxes {
        font-size: 13px;
    }
}


@media screen and (max-width: 440px) {
    .div_filter_activity {
        font-size: 18px;
    }
}